@font-face {
    font-family: Padauk;
    src: url(font/Padauk-Bold.ttf);
}

@font-face {
    font-family: Sans-Fransisco;
    src: url(font/SF-Pro-Display-Medium.otf);
}

@font-face {
    font-family: Mont;
    src: url(font/Mont-HeavyDEMO.otf);
}

@font-face {
    font-family: jettbrains;
    src: url(font/JetBrainsMono-Regular.bae14b26.woff2);
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin: 0 auto;
}

.touch{
    display: flex;
    font-family: Sans-Fransisco;
    justify-content: center;
    color: white;
}

#folder{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}


#text{
    display: flex;
    justify-content: center;
    font-family: Sans-Fransisco;
    color: black;
}

#top{
    font-family: jettbrains;
    font-size: 12px;
    color: white;
    display: flex;
    margin-top: 20px;
}

.date{
    padding-left: 15px;
}

main{
    color: white;
    font-family: jettbrains;
    font-size: 12px;
    max-width: 500px;
}

.photo{
    margin-bottom: 30px;
}

#container{
    display: grid;
    column-gap: 5px;
    justify-items: center;
    margin-top: 200px;
}